{%- capture direction -%}{% render 'direction' %}{%- endcapture -%}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {% # theme-check-disable RemoteAsset %}
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">
    {% # theme-check-enable RemoteAsset %}

    <link
      rel="stylesheet"
      href="{{ 'interactions.css' | asset_url }}"
      media="print"
      fetchpriority="low"
      onload="this.media='all'"
    >

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {%- endif -%}

    <title>
      {{- page_title -}}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- if template == 'password' -%}
        {{- shop.name -}}
      {%- else -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {%- endif -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- liquid
      render 'social-meta-tags'

      render 'css-variables'
      echo 'theme.css' | asset_url | stylesheet_tag: preload: true

      if direction == 'rtl'
        echo 'rtl.css' | asset_url | stylesheet_tag: preload: true
      endif
    -%}

    <link
      rel="stylesheet"
      href="{{ 'apps.css' | asset_url }}"
      media="print"
      fetchpriority="low"
      onload="this.media='all'"
    >

    {{ content_for_header }}

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- render 'js-variables' -%}
    {% render 'fonts' %}
    {% render 'global-styles' %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    >

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
    <!-- ScrollMagic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
    {% comment %} ==== Lencis css ==== {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.18/dist/lenis.css">

    {{ 'image-with-text.js' | asset_url | script_tag }}
  </head>

  <body
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} template-{{ template.suffix }}{% if request.path == '/challenge' %} template-challange{% endif %}{% if request.design_mode %} shopify-design-mode{% endif %}"
    data-rounded-button="{{ settings.rounded_button }}"
    data-rounded-input="{{ settings.rounded_input }}"
    data-rounded-block="{{ settings.rounded_block }}"
    data-rounded-card="{{ settings.rounded_card }}"
    data-button-hover="{{ settings.buttons_hover }}"
    {% if settings.enable_lazy_image %}
      data-lazy-image
    {% endif %}
    data-title-animation
    data-page-rendering
  >
    <a class="sr-only skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {%- liquid
      if settings.enable_page_transition
        render 'loading-bar'
      endif

      render 'mouse-cursor'

      sections 'header-group'
      sections 'overlay-group'
    -%}

    <div class="page-container" id="PageContainer">
      <main class="main-content relative" id="MainContent" role="main">
        {{ content_for_layout }}
      </main>

      {% unless template contains 'subscription' %}
        <footer-group class="footer-group block w-full">
          {%- sections 'footer-group' -%}
        </footer-group>
      {% endunless %}
    </div>

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'general.accessibility.link_messages.new_window' | t }}</li>
    </ul>
    {% comment %} ====== smooth scrolling js ==== {% endcomment %}
    <script src="https://unpkg.com/lenis@1.1.18/dist/lenis.min.js"></script>
    <script>
      'use strict';
      const lenis = new Lenis({
        duration: 1.75,
        easing: (t) => 1 - Math.pow(1 - t, 5),
        wheelMultiplier: 0.8,
        direction: 'vertical',
        smooth: true,
        touchMultiplier: 1.2,
        infinite: false,
        gestureOrientation: 'vertical',
        normalizeWheel: true,
        smoothTouch: true,
      });
      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }
      requestAnimationFrame(raf);
    </script>
    <script src="{{ 'interactions.js' | asset_url }}" defer="defer"></script>
    {% comment %} ====== weglot js ======= {% endcomment %}
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
      Weglot.initialize({
        api_key: 'wg_de79779aa3894ff5061dceefda1de5837',
      });
    </script>
    {{ 'weglot-implementation.js' | asset_url | script_tag }}
  </body>
</html>
